<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="fr" ng-app="carnage">
  <title>Carnage</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf8">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-animate.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.0.5/firebase.js"></script>

    <script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>

    <script src="dummyState.js"></script>
    <script src="rules.js"></script>
    <script src="controllers.js"></script>
    <script src="gameui.js"></script>

    <link rel="stylesheet" href="style.css" />
  </head>

<body ng-app="ngAnimate" ng-controller="CarnageCtrl">

  <div class="header">
    <h1>Carnage</h1>
  </div>

<div class="page">

  <!-- Chat -->

  <div class="chat" ng-controller="PublicChatCtrl">

    <h2>Public chat</h2>

    <ul>
      <li ng-repeat="msg in messages | limitTo:-20"><span>
        <strong class="chat-username">{{msg.from}}: </strong>
        {{msg.body}}
      </span></li>
    </ul>

    <input ng-show="name" ng-model="msg" ng-keydown="addMessage($event)"
             type="text" id="messageInput" placeholder="Your message..."
             style="width:99%">

  </div>

  <!-- Menu / Waiting room -->

  <div ng_show="page == 'menu'" class="main">

    <div class="online">
      <h2>Online players</h2>
      <ul>
        <li ng-repeat="player in connected">
          {{player.$id}}
        </li>
      </ul>
    </div>

    <div ng-show="menuPage == 'name'">
      <h2>Welcome</h2>

      <input ng-model="tmp_name" ng-keydown="setName($event)" type="text"
             id="nameInput" placeholder="Enter your name">
      <p class="stderr" ng-show="showStderr">{{stderr}}</p>
    </div>

    <div ng-show="menuPage == 'list'">

      <h2>Liste des parties</h2>
      <ul>
        <li ng-repeat="room in rooms">
          Game created by {{room.owner}}.
          <button ng-click="joinGame(room.$id)">Join</button>
        </li>
      </ul>

      <button ng-click="createGame()">New game</button>
    </div>

    <div ng-show="menuPage == 'room'">
      <h2>Players in the game</h2>
      <p ng-show="roomPlayers.length == 0">
        Game was canceled.
      </p>
      <ul ng-show="roomPlayers.length > 0">
        <li ng-repeat="player in roomPlayers">
          {{player.name}}
          <span ng-show="player.name == room.owner">(owner)</span>
        </li>
      </ul>
      <button ng-click="cancelGame()">Quit</button>
      <button ng-click="startGame()"
              ng-show="room.owner == name">Start</button>
      <p class="stderr" ng-show="showStderr">{{stderr}}</p>
    </div>
  </div>

  <!-- Room -->

  <div ng-if="page == 'game'" style="width: 100%" class="main">

    <p>&nbsp;<span class="stderr" ng-show="showMessage">{{message}}</span></p>

    <div style="position: relative; width: 500px; height: 550px">

      <div ng-repeat="col in map">
        <div ng-repeat="c in col | filter:{exists:true}"
             class="{{cellClass(c)}}"
             style="{{cellStyle(c)}}"
             ng-click="select(c)">

          <img ng-show="c.dynamite"
               src="dynamite.png" width="30px" height="30px">
          <img ng-show="c.mine"
               src="mine.png" width="30px" height="30px">
        </div>
      </div>

      <div ng-repeat="col in map">
        <div ng-repeat="c in col | filter:{exists:true}"
             ng-show="canAttack(c)"
             ng-click="attack(c)"
             class="attack" style="{{attackStyle(c)}}">
        </div>
      </div>

      <div ng-repeat="d in directions"
           ng-show="state.selectedCard==0 && canMove(d)"
           ng-click="move(d)"
           class="move" style="{{moveStyle(d)}}"></div>

      <div ng-show="explosion" style="position: absolute; {{explosion.pos}}">
        <img src="{{explosion.img}}" style="opacity: 0.75; {{explosion.size}}">
      </div>

      <div style="position: absolute; left:500px;">
        <h1>Players</h1>
        <ul>
          <li ng-repeat="p in state.players">
            <a href="#"
               ng-class="state.currentPlayer==$index ? 'selected':''">
              {{p.name}}
              ({{p.worms}})
            </a>
          </li>
        </ul>
        <h1>Action</h1>
        <ul>
          <li ng-repeat="c in state.actions track by $index">
            <a href="#"
               ng-click="selCard(c, $index)"
               ng-class="state.selectedCard==$index ? 'selected':''">{{c}}</a>
          </li>
        </ul>
        <p>{{cardDescription}}</p>
      </div>

    </div> <!-- end board -->

    <button ng-click="back()">Quit</button>

  </div>

</div>

</body>
</html>
