html, body {
  height: 100%;
  background-color: #e9e9e9;
  margin: 0;
  padding: 0;
}

.page {
  width: 100%;
  display: flex;
  flex-direction: row;
}

h1, h2, h3 {
  margin: 0;
  text-align: center;
}

h3 {
    border-bottom: 2px solid #bbb;
}

.header {
  padding: 0;
  margin: 0;;
  align-items: center;
  background-color: #600000;
  color: #f9f9f9;
}

.chat {
  width: 24%;
  border-width:0 10px 0 0;
  background:#fca;
  padding: 10px;
  margin: 10px;
  border-radius: 25px 10px / 10px 25px;
  box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.7);
}

.chat li {
  list-style-type: none;
}
.chat ul {
  padding: 0px;
}

.main {
  width: 75%;
  background-color: #fff;
  padding: 10px;
  margin: 10px;
  border-radius: 25px 10px / 10px 25px;
  box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.7);
}

.card {
    background-color: #fc4;
    width: 50px;
    height: 100px;
    font-size: 1.5em;
    float: left;
    // border-radius: 10px;
    border-radius: 15px 5px / 5px 15px;
    align-items: center;
    display: flex;
    text-align: center;
    margin: 5px;
    box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: all 0.3s linear;
}

.card.sel {
    background-color: #ffff44;
}

.card.fight {
    background-color: #ff6644;
}

.player {
    position: absolute;
    text-align: center;
    background-color: #ddd;
    padding: 15px;
    border-radius: 25px 10px / 10px 25px;
    box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.7);
}

.player.sel {
    background-color: #f0f0c0;
}

.card span {
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.online {
    width: 30%;
    height: 100%;
    float: right;
    background-color: #f0f0c0;
    border-radius: 25px 10px / 10px 25px;
    box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.7);
}

button {
    background-color: #c0f0f0;
    padding: 15px;
    border: 0px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 25px 10px / 10px 25px;
    box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.7);
}

.stderr {
    transition: all linear 0.75s;
    font-weight: bold;
}

.stderr.ng-hide.ng-hide-add {
    opacity: 0;
}

.stderr.ng-hide.ng-hide-remove {
    opacity: 0;
    margin-left: 20px;
}

li.ng-enter {
  transition: all linear 1s;
  max-height: 0px;
  opacity: 0;
}

li.ng-enter.ng-enter-active {
  max-height: 40px;
  opacity: 1;
}

.cell, .worm, .injuredWorm {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    border-radius: 100%;
    width: 44px;
    height: 44px;
    border: solid 2px #ccc;
}

.cell {
    background-color: #ddd;
}

.worm {
    background-image: url("worm.png");
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-color: #999;
    background-position: center center;
}

.injuredWorm {
    background-image: url("worm-injured.png");
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-color: #999;
    background-position: center center;
}

@keyframes selWorm {
  0%, 20%, 80%, 100% {
    background-position: 0px 0px;
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
}

.selWorm {
   animation: selWorm 2s infinite;
   background-color: #88a0c0;
}

.move, .attack {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    opacity: 0.6;
    cursor: pointer;
    transition: all ease-out 0.25s;
}

.move {
    background-color: #4A4;
    border: solid 2px #080;
}

.attack {
    background-color: #A44;
    border: solid 3px #000;
}

.move.ng-hide.ng-hide-add, .attack.ng-hide.ng-hide-add,
.move.ng-hide.ng-hide-remove, .attack.ng-hide.ng-hide-remove {
    opacity: 0;
    width: 15px;
    height: 15px;
    margin-top: 7px;
    margin-left: 7px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li .notselected {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border: none;
}

li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;

  transition: font-size 0.3s ease, background-color 0.3s ease;
}

li a:hover {
  font-size: 30px;
  background: #f6f6f6;
}

li .selected {
  font-size: 30px;
  background: #f6f6f6;
}
